<main>
    <section class="hero">
        <div class="logo-container">
            <div class="white-background">
                <div class="logo-text pd">
                    <h1>COLMEIA</h1>
                    <p>Projeto de Socialização de Software e Hardware Livres</p>
                </div>
                <div class="logo-icon">
                    <%= image_tag "Colmeia.png" %>
                </div>
            </div>
    </section>
    <section class="main-section">
        <div class="container">
            <div class="row gy-4">
                <div class="col-12 col-xl-8">
                    <div class="white-frame">
                        <h2>Titulo</h2>
                        <hr>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Natus, eos similique pariatur autem veniam
                            cupiditate delectus odio id accusantium fugit excepturi exercitationem odit aliquam ullam? Fugit
                            accusamus delectus odio quisquam?</p>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Natus, eos similique pariatur autem veniam
                            cupiditate delectus odio id accusantium fugit excepturi exercitationem odit aliquam ullam? Fugit
                            accusamus delectus odio quisquam?</p>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Natus, eos similique pariatur autem veniam
                            cupiditate delectus odio id accusantium fugit excepturi exercitationem odit aliquam ullam? Fugit
                            accusamus delectus odio quisquam?</p>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Natus, eos similique pariatur autem veniam
                            cupiditate delectus odio id accusantium fugit excepturi exercitationem odit aliquam ullam? Fugit
                            accusamus delectus odio quisquam?</p>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Natus, eos similique pariatur autem veniam
                            cupiditate delectus odio id accusantium fugit excepturi exercitationem odit aliquam ullam? Fugit
                            accusamus delectus odio quisquam?</p>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Natus, eos similique pariatur autem veniam
                            cupiditate delectus odio id accusantium fugit excepturi exercitationem odit aliquam ullam? Fugit
                            accusamus delectus odio quisquam?</p>
                    </div>

                    <div class="white-frame">
                        <h2>Titulo</h2>
                        <hr>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Natus, eos similique pariatur autem veniam
                            cupiditate delectus odio id accusantium fugit excepturi exercitationem odit aliquam ullam? Fugit
                            accusamus delectus odio quisquam?</p>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Natus, eos similique pariatur autem veniam
                            cupiditate delectus odio id accusantium fugit excepturi exercitationem odit aliquam ullam? Fugit
                            accusamus delectus odio quisquam?</p>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Natus, eos similique pariatur autem veniam
                            cupiditate delectus odio id accusantium fugit excepturi exercitationem odit aliquam ullam? Fugit
                            accusamus delectus odio quisquam?</p>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Natus, eos similique pariatur autem veniam
                            cupiditate delectus odio id accusantium fugit excepturi exercitationem odit aliquam ullam? Fugit
                            accusamus delectus odio quisquam?</p>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Natus, eos similique pariatur autem veniam
                            cupiditate delectus odio id accusantium fugit excepturi exercitationem odit aliquam ullam? Fugit
                            accusamus delectus odio quisquam?</p>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Natus, eos similique pariatur autem veniam
                            cupiditate delectus odio id accusantium fugit excepturi exercitationem odit aliquam ullam? Fugit
                            accusamus delectus odio quisquam?</p>
                    </div>

                    <div class="white-frame">
                        <h2>Titulo</h2>
                        <hr>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Natus, eos similique pariatur autem veniam
                            cupiditate delectus odio id accusantium fugit excepturi exercitationem odit aliquam ullam? Fugit
                            accusamus delectus odio quisquam?</p>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Natus, eos similique pariatur autem veniam
                            cupiditate delectus odio id accusantium fugit excepturi exercitationem odit aliquam ullam? Fugit
                            accusamus delectus odio quisquam?</p>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Natus, eos similique pariatur autem veniam
                            cupiditate delectus odio id accusantium fugit excepturi exercitationem odit aliquam ullam? Fugit
                            accusamus delectus odio quisquam?</p>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Natus, eos similique pariatur autem veniam
                            cupiditate delectus odio id accusantium fugit excepturi exercitationem odit aliquam ullam? Fugit
                            accusamus delectus odio quisquam?</p>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Natus, eos similique pariatur autem veniam
                            cupiditate delectus odio id accusantium fugit excepturi exercitationem odit aliquam ullam? Fugit
                            accusamus delectus odio quisquam?</p>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Natus, eos similique pariatur autem veniam
                            cupiditate delectus odio id accusantium fugit excepturi exercitationem odit aliquam ullam? Fugit
                            accusamus delectus odio quisquam?</p>
                    </div>
                </div>
                <div class="col-12 col-xl-4">
                    <div class="white-frame">
                        <h2>Sobre nós</h2>
                        <hr>
                        <p>O Colmeia teve início no final de 2002, através da iniciativa dos professores Kariston Pereira e
                            Claudio César de Sá. Atualmente o grupo é coordenado pelo professor Gilmário Barbosa dos Santos. Uma
                            das primeiras atividades do grupo foi o projeto “Comunidade de Excelencia Linux na UDESC” que visava
                            divulgar e promover o uso do Linux e outras plataformas de Software Livre.</p>
                        <p>Com o objetivo da disseminação de conhecimento em software e hardware livres o Colmeia além de seus
                            projetos internos o projeto ministra aulas e minicursos de diversos temas, visitamos escolas e
                            outras universidades com o objetivo de apresentar não só o Colmeia mas sim a ideologia do grupo.</p>
                        <p>Somos responsáveis também pela organização de caravanas e eventos do mundo opensource tendo com
                            sucesso organizado viagens para os maiores eventos de tecnologia livre como a Latinoware além de
                            sediar eventos como o FLISoL (Festival Latino-americano de Instalação de Software Livre).</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>