<header class="bg-gradient-to-r from-yellow-400 via-yellow-300 to-yellow-300 overflow-hidden">
  <div class="container px-6 py-16 mx-auto">
      <div class="items-center lg:flex">
          <div class="w-full lg:w-1/2 relative z-10">
              <div class="lg:max-w-lg bg-white p-8 rounded-lg dark:bg-gray-800">
                  <h1 class="text-2xl font-black lg:text-4xl text-gradient bg-gradient-to-r from-yellow-400 to-yellow-600">Grupo de Extensão em Software e Hardware Livre</h1>
                  <p class="mt-2 text-black dark:text-gray-200">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro beatae error laborum ab amet sunt recusandae? Reiciendis natus perspiciatis optio.</p>
                  <div class="flex justify-end mt-2">
                      <button disabled class="px-4 py-2 rounded text-white font-bold bg-gradient-to-r from-yellow-400 to-yellow-500 disabled:opacity-50 disabled:cursor-default">Processo seletivo</button>
                  </div>
              </div>
          </div>
    
          <div class="relative w-full" style="">
              <%= image_tag "terminal.png", class: "absolute hidden lg:block object-cover -mt-20" %>
          </div>
      </div>
  </div>
</header>

<main>
  <div class="container mx-auto block py-10 px-4 space-y-10 lg:mt-10 lg:space-y-0 lg:space-x-4 lg:flex">
    <div class="block w-full lg:w-2/3 space-y-4">
      <div class="bg-gray-100 p-10 rounded flex-col shadow dark:bg-gray-900">
        <h1 class="text-2xl font-bold text-gray-700 dark:text-gray-200">Que pena, não há posts 😞</h1>
      </div>

      <div class="bg-gray-100 p-10 rounded flex-col shadow dark:bg-gray-900">
        <a href="#" class="text-3xl font-bold text-gray-700 hover:text-gray-800 dark:text-gray-200 dark:hover:text-gray-300">Ações durante a pandemia</a>
        <p class="mt-2 text-gray-700 dark:text-gray-200">Escrito por Luciano Abreu em 03/07/2021 às 23:21.</p>
        <p class="mt-4 text-gray-700 dark:text-gray-200">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce auctor molestie magna vulputate congue. Morbi eu tempor velit. Aliquam pharetra erat dignissim, rutrum erat sit amet, dapibus tellus. Duis sit amet mauris nec erat sollicitudin lacinia sed sed nulla. Duis tempor consectetur elit, sed fringilla libero varius et. Etiam nec fermentum augue, sed bibendum sem. Morbi non diam vitae urna ullamcorper tempus. Quisque quis luctus orci, posuere viverra justo. Ut non ornare odio...
        </p>
        <div class="mt-10">
          <hr class="dark:border-gray-700">
        </div>
        <div class="flex justify-end mt-10">
          <button class="font-medium p-4 bg-gray-700 text-white rounded hover:bg-gray-800">Continue lendo -></button>
        </div>
      </div>
    </div>

    <hr class="dark:border-gray-700">

    <div class="w-full lg:w-1/3 h-full bg-gray-100 p-10 rounded shadow dark:bg-gray-900">
      <div class="space-y-10">
        <div>
          <div class="flex justify-between">
            <h1 class="text-3xl font-bold text-gray-700 dark:text-gray-200">Quem somos?</h1>
            <%= image_tag "colmeiacinza.png", class: "h-12 fotinha-colmeia opacity-10 dark:opacity-100" %>
          </div>
          <p class="mt-4 text-gray-700 dark:text-gray-200">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce auctor molestie magna vulputate congue. Morbi eu tempor velit. Aliquam pharetra erat dignissim, rutrum erat sit amet, dapibus tellus. Duis sit amet mauris nec erat sollicitudin lacinia sed sed nulla. Duis tempor consectetur elit, sed fringilla libero varius et. Etiam nec fermentum augue, sed bibendum sem. Morbi non diam vitae urna ullamcorper tempus. Quisque quis luctus orci, posuere viverra justo. Ut non ornare odio. Phasellus at consectetur elit. Nullam ut feugiat sapien. Aenean fermentum quis mauris nec porta. Proin fringilla ipsum nec venenatis fermentum. Vestibulum sit amet justo eleifend, ullamcorper arcu quis, pretium tellus. Morbi lacus sapien, faucibus at urna quis, commodo placerat ligula.</p>
          <div class="flex justify-end mt-10">
            <%= link_to 'Visualizar membros ->', membros_path, class: 'font-medium p-2 bg-yellow-300 text-white rounded hover:bg-yellow-400 dark:bg-yellow-400 dark:hover:bg-yellow-500'%>
          </div>
        </div>

        <hr class="dark:border-gray-700">

        <div>
          <h1 class="text-3xl font-bold text-gray-700 dark:text-gray-200">História</h1>
          <p class="mt-4 text-gray-700 dark:text-gray-200">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce auctor molestie magna vulputate congue. Morbi eu tempor velit. Aliquam pharetra erat dignissim, rutrum erat sit amet, dapibus tellus. Duis sit amet mauris nec erat sollicitudin lacinia sed sed nulla. Duis tempor consectetur elit, sed fringilla libero varius et. Etiam nec fermentum augue, sed bibendum sem. Morbi non diam vitae urna ullamcorper tempus. Quisque quis luctus orci, posuere viverra justo. Ut non ornare odio. Phasellus at consectetur elit. Nullam ut feugiat sapien. Aenean fermentum quis mauris nec porta. Proin fringilla ipsum nec venenatis fermentum. Vestibulum sit amet justo eleifend, ullamcorper arcu quis, pretium tellus. Morbi lacus sapien, faucibus at urna quis, commodo placerat ligula.</p>
        </div>
      </div>
    </div>
  </div>
</main>