<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <!-- STYLES -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@200;400;500;700;900&family=Poppins:wght@400;500;700&display=swap" rel="stylesheet">

</head>

<body>
    <main>
        <section class="hero">
            <div class="hero-background"></div>
            <div class="logo-container">
                <div class="white-background">
                    <%= image_tag "Colmeia.png" %>
                    <h1>COLMEIA</h1>
                    <p>Projeto de Socialização de Software e Hardware Livres</p>
</body>
</div>
</section>
<section class="body">
    <div class="container-left">
        <div class="white-frame-left">
            <h2>Titulo</h2>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Natus, eos similique pariatur autem veniam cupiditate delectus odio id accusantium fugit excepturi exercitationem odit aliquam ullam? Fugit accusamus delectus odio quisquam?</p>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Natus, eos similique pariatur autem veniam cupiditate delectus odio id accusantium fugit excepturi exercitationem odit aliquam ullam? Fugit accusamus delectus odio quisquam?</p>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Natus, eos similique pariatur autem veniam cupiditate delectus odio id accusantium fugit excepturi exercitationem odit aliquam ullam? Fugit accusamus delectus odio quisquam?</p>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Natus, eos similique pariatur autem veniam cupiditate delectus odio id accusantium fugit excepturi exercitationem odit aliquam ullam? Fugit accusamus delectus odio quisquam?</p>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Natus, eos similique pariatur autem veniam cupiditate delectus odio id accusantium fugit excepturi exercitationem odit aliquam ullam? Fugit accusamus delectus odio quisquam?</p>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Natus, eos similique pariatur autem veniam cupiditate delectus odio id accusantium fugit excepturi exercitationem odit aliquam ullam? Fugit accusamus delectus odio quisquam?</p>
        </div>
    </div>
    <div class="container-right">
        <div class="white-frame-right">
            <h2>Sobre nós</h2>
            <p>O Colmeia teve início no final de 2002, através da iniciativa dos professores Kariston Pereira e Claudio César de Sá. Atualmente o grupo é coordenado pelo professor Gilmário Barbosa dos Santos. Uma das primeiras atividades do grupo foi o projeto “Comunidade de Excelencia Linux na UDESC” que visava divulgar e promover o uso do Linux e outras plataformas de Software Livre.</p>
            <p>Com o objetivo da disseminação de conhecimento em software e hardware livres o Colmeia além de seus projetos internos o projeto ministra aulas e minicursos de diversos temas, visitamos escolas e outras universidades com o objetivo de apresentar não só o Colmeia mas sim a ideologia do grupo.</p>
            <p>Somos responsáveis também pela organização de caravanas e eventos do mundo opensource tendo com sucesso organizado viagens para os maiores eventos de tecnologia livre como a Latinoware além de sediar eventos como o FLISoL (Festival Latino-americano de Instalação de Software Livre).</p>
        </div>

    </div>
</section>
</main>

</body>

</html>