<div>
  <h1 class="text-2xl text-gray-700 font-bold">Dashboard</h1>
  <div class="grid grid-cols-1 lg:grid-cols-2 xl:grid-cols-2 2xl:grid-cols-4 gap-4 mt-10">
    <div class="flex justify-between items-center h-36 bg-green-300 py-5 px-5 rounded border-4 border-green-400">
      <div class="bg-green-800 text-green-300 rounded p-5">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-10 w-10 lg:h-12 lg:w-12" viewBox="0 0 20 20" fill="currentColor">
          <path d="M17.414 2.586a2 2 0 00-2.828 0L7 10.172V13h2.828l7.586-7.586a2 2 0 000-2.828z" />
          <path fill-rule="evenodd" d="M2 6a2 2 0 012-2h4a1 1 0 010 2H4v10h10v-4a1 1 0 112 0v4a2 2 0 01-2 2H4a2 2 0 01-2-2V6z" clip-rule="evenodd" />
        </svg>
      </div>
      <div>
        <span class="block text-green-800 font-bold ml-auto text-sm">Posts criados</span>
        <span class="block text-green-800 font-bold text-6xl ml-auto">18</span>
      </div>
    </div>
    <div class="flex justify-between items-center h-36 bg-yellow-300 py-5 px-5 rounded border-4 border-yellow-400">
      <div class="bg-yellow-800 text-yellow-300 rounded p-5">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-10 w-10 lg:h-12 lg:w-12" viewBox="0 0 20 20" fill="currentColor">
          <path d="M17.414 2.586a2 2 0 00-2.828 0L7 10.172V13h2.828l7.586-7.586a2 2 0 000-2.828z" />
          <path fill-rule="evenodd" d="M2 6a2 2 0 012-2h4a1 1 0 010 2H4v10h10v-4a1 1 0 112 0v4a2 2 0 01-2 2H4a2 2 0 01-2-2V6z" clip-rule="evenodd" />
        </svg>
      </div>
      <div class="flex flex-col">
        <span class="text-yellow-800 font-bold ml-auto text-sm">Usuários cadastrados</span>
        <span class="text-yellow-800 font-bold text-6xl ml-auto">324</span>
      </div>
    </div>
    <div class="flex justify-between items-center h-36 bg-indigo-300 py-5 px-5 rounded border-4 border-indigo-400">
      <div class="bg-indigo-800 text-indigo-300 rounded p-5">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-10 w-10 lg:h-12 lg:w-12" viewBox="0 0 20 20" fill="currentColor">
          <path d="M17.414 2.586a2 2 0 00-2.828 0L7 10.172V13h2.828l7.586-7.586a2 2 0 000-2.828z" />
          <path fill-rule="evenodd" d="M2 6a2 2 0 012-2h4a1 1 0 010 2H4v10h10v-4a1 1 0 112 0v4a2 2 0 01-2 2H4a2 2 0 01-2-2V6z" clip-rule="evenodd" />
        </svg>
      </div>
      <div class="flex flex-col">
        <span class="text-indigo-800 font-bold ml-auto text-sm">Projetos cadastrados</span>
        <span class="text-indigo-800 font-bold text-6xl ml-auto">4</span>
      </div>
    </div>
    <div class="flex justify-between items-center h-36 bg-blue-300 py-5 px-5 rounded border-4 border-blue-400">
      <div class="bg-blue-800 text-blue-300 rounded p-5">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-10 w-10 lg:h-12 lg:w-12" viewBox="0 0 20 20" fill="currentColor">
          <path d="M17.414 2.586a2 2 0 00-2.828 0L7 10.172V13h2.828l7.586-7.586a2 2 0 000-2.828z" />
          <path fill-rule="evenodd" d="M2 6a2 2 0 012-2h4a1 1 0 010 2H4v10h10v-4a1 1 0 112 0v4a2 2 0 01-2 2H4a2 2 0 01-2-2V6z" clip-rule="evenodd" />
        </svg>
      </div>
      <div class="flex flex-col">
        <span class="text-blue-800 font-bold ml-auto text-sm">Membros cadastrados</span>
        <span class="text-blue-800 font-bold text-6xl ml-auto">8</span>
      </div>
    </div>
  </div>
</div>