<div class="top-bar">
    <nav class="navbar navbar-light bg-dark justify-content-between">
        <div class="container">
        <div class="navbar-left">
            <li class="nav-item dropdown">
                <a class="dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fa fa-bars"></i></a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="lista-dropdown" href="https://www.notion.so/Colmeia-4f7e0e69a356430e9e9a2bb7690aeb8a">Nossos projetos</a><br>
                    <hr>
                    <a class="lista-dropdown" href="/posts">Criar publicação</a><br>
                    <hr>
                    <%= "Gerenciar usuarios" %>
                </ul>

            </li>
        </div>
        <div class="navbar-right">
            <%= "Olá, "+"Luciano!" %>
        </div></div>
    </nav>
</div>