@import "tailwindcss/base";

@layer base {
    // define revert css here
    .no-tailwindcss-base {

        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
        font-size: revert;
        font-weight: revert;
        }

        ol,
        ul {
        list-style: revert;
        margin: revert;
        padding: revert;
        }

        img {
            @apply rounded;
        }
    }
}

@import "tailwindcss/components";
@import "tailwindcss/utilities";
